h1 {
	font-family: 'Chewy', cursive;
    padding: 20px;
}

li {
    font-family: 'Chewy', cursive;
}

.tiles {
	width: 100%;
    background: #ffc14d;
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.tiles .tile {
    height: 100px;
	width: 100px;
	margin: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}